@import url("https://fonts.googleapis.com/css?family=Poppins:200i,300,400&display=swap");

:root {
    --HEADER-BGCOLOR: rebeccapurple;
    --MAIN-WHITE: whitesmoke;
    --MAIN-BLACK: #121212;
    --MAIN-GRAY: #303841;
}

/* || RESET */
*{
    margin: 0;
    padding: 0;
}

*::after,
*::before{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Fugaz One', sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: var(--MAIN-BLACK);
    color: var(--MAIN-WHITE);
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: 400;
}

nav{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    background-color: var(--HEADER-BGCOLOR);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

h1,
h2{
    font-weight: 700;
    text-align: center;
}

h1{
    font-size: 6rem;
}

p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: royalblue;
}

h2{
    font-size: 4.2rem;
}

.nav_list{
    display: flex;
    margin-right: 2rem;
}

.nav_list a {
    display: flex;
    font-size: 2.2rem;
    padding: 2rem;

}

.nav_list a:hover{
    background-color: var(--MAIN-GRAY);
}

ul{
    list-style: none;    
}

a{
    color: var(--MAIN-WHITE);
    text-decoration: none;
}

#about{
    display: flex ;
    font-size: 3rem;
    height: 100vh;
    flex-direction: column;
    font-style: italic;
    justify-content: center;
    background-color: var(--MAIN-BLACK);
    background-image: linear-gradient(62deg, #3e3d40 0%, #181719 100%);
}

.projects{
    background-image: radial-gradient(var(--MAIN-GRAY), midnightblue);
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10rem 2rem;
    text-align: center;
}

.projects__section__header {
    border-bottom: 0.2rem solid var(--MAIN-WHITE);
    margin: 0 auto 6rem auto;
    max-width: 640px;
}

@media screen and (min-width: 768px){
    
}

